<div class="reportPanel">
  <div class="titleHeader">
    <h2>Raport</h2>
  </div> 
  <div class="table">
    <div class="headerRow">
      <div class="LPCell cell">LP</div>
      <div class="dateCell cell">Data</div>
      <div class="valueCell cell">Wartość</div>
      <div class="variableCell cell">Zmienna</div>
      <div class="typeCell cell">Typ</div>
      <div class="commentCell cell" style="font-style: normal;">Komentarz</div>
    </div>
    <div class="reportRow">
        <div class="LPCell cell">1</div>
        <div class="dateCell cell">21.10.2017 20:00:00</div>
        <div class="valueCell cell">12</div>
        <div class="variableCell cell">Wejście</div>
        <div class="typeCell cell">Praca</div>
        <div class="commentCell cell">Test komentarza</div>
    </div>
  </div>  
</div>