<div class="plotPanel">
  <!-- <div class="titleHeader">
    <h2>Regulator</h2>
  </div> -->
  <div class="plotBox">
    <div class="plotHeader">
      <div style="width: 20%;height: 100%;float: left;"></div>
      <div style="float:left;height: 100%; width: 30%;">Sterowanie</div>
      <div class="btn-group" style="float: left; color: #555555;height: 100%; width: 30%;">
        <button id="ConDropButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Zawór 1
        </button>
        <div class="dropdown-menu">
          <a id = "VALVE_1" class="dropdown-item" (click) = "changeController($event)">Zawór 1</a>
          <a id = "VALVE_2" class="dropdown-item" (click) = "changeController($event)">Zawór 2</a>
          <a id = "VALVE_3" class="dropdown-item" (click) = "changeController($event)">Zawór 3</a>
          <a id = "VALVE_4" class="dropdown-item" (click) = "changeController($event)">Zawór 4</a>
        </div>
    </div>
      <div style="width: 20%;height: 100%;float: left;"></div>
    </div>
    <div class="plotArea" id="controlPlot"></div>
  </div>

  <div class="plotBox">
    <div class="plotHeader">
      <div style="width: 15%;height: 100%;float: left;"></div>
      <div style="float:left;height: 100%; width: 40%;">Zmienna systemu</div>
      <div class="btn-group" style="float: left; color: #555555;height: 100%; width: 30%;">
          <button id="SVDropButton" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Poziom 1
          </button>
          <div class="dropdown-menu">
            <a id = "LEVEL_1" class="dropdown-item" (click) = "changeStateVariable($event)">Poziom 1</a>
            <a id = "LEVEL_2" class="dropdown-item" (click) = "changeStateVariable($event)">Poziom 2</a>
            <a id = "LEVEL_3" class="dropdown-item" (click) = "changeStateVariable($event)">Poziom 3</a>
          </div>
      </div>
      <div style="width: 15%;height: 100%;float: left;"></div>
    </div>
    <div class="plotArea" id="plantPlot"></div>
  </div>
</div>

<div class="detailsPanel">
  <div style="width: calc(50% - 10px);height: 100%;float: left;margin: 5px;">
      <div class="titleHeader">
          <h2>Wartości zadane</h2>
      </div>

      <div class="dataBox" style="background-color: rgb(243, 229, 253)">
          <div class="wrapper" style="height: 40%;margin-right: 5px; width: 100%;">
            <div style="width: calc(50% - 5px); height: 100%; float: left;margin-right: 10px;">
              <div class="caption">
                <div style="height: 50%; width: 100%"></div>
                <div style="height: 50%; width: 100%">Zbiornik. 1</div> 
              </div>
              <div class="indicator"> <input class="input" type="text" [(ngModel)]="controller1"></div>
            </div>
            <div style="width: calc(50% - 5px); height: 100%; float: left;">
              <div class="caption">
                <div style="height: 50%; width: 100%"></div>
                <div style="height: 50%; width: 100%">Zbiornik. 2 </div> 
              </div>
              <div class="indicator"> <input class="input" type="text" [(ngModel)]="controller2"> </div>
            </div>
          </div>
          <div class="wrapper" style="height: 40%;width: 100%;">
            <div style="width: calc(50% - 2.5px); height: 100%; float: left;margin-right: 5px;">
                <div class="caption">
                  <div style="height: 50%; width: 100%"></div>
                  <div style="height: 50%; width: 100%">Zbiornik. 3</div> 
                </div>
                <div class="indicator"> <input class="input" type="text" [(ngModel)]="controller3"> </div>
              </div>
              <div style="width: calc(50% - 2.5px); height: 100%; float: left;">
                <div class="caption">
                  <div style="height: 50%; width: 100%"></div>
                  <div style="height: 50%; width: 100%">Stężenie</div> 
                </div>
                <div class="indicator"> <input class="input" [(ngModel)]="controller4"> </div>
              </div>
          </div>
          <div style="height: 20%; width: 100%">
            <!-- <div style="height: 30%; width: 100%"></div> -->
            <button type="button" class="btn btn-warning" style="height:80%;" (click) =" changeControllersParametersSubmit($event)">Zmień</button>
          </div>
          
        </div>
    </div>
  <!-- <div style="width: 2px;height: 100%;float: left;">    
  <div style="width: 1px;height: 100%;float: left;border-right: 1px solid #cacaca;"></div>
  <div style="width: 2px;height: 100%;float: left;"> -->
  <div style="width: calc(50% - 10px);height: 100%;float: left;margin: 5px;">
      <div class="titleHeader">
          <h2>Parametry</h2>
      </div>

      <div class="dataBox" style="background-color: rgb(255, 223, 219)">
          <div class="wrapper" style="height: 40%;margin-right: 5px; width: 100%;">
            <div style="width: calc(50% - 5px); height: 100%; float: left;margin-right: 10px;">
              <div class="caption ">
                <div style="height: 50%; width: 100%"></div>
                <div style="height: 50%; width: 100%">Zawór. 1</div> 
              </div>
              <div class="indicator label"> {{valve_1}} </div>
              
            </div>
            <div style="width: calc(50% - 5px); height: 100%; float: left;">
              <div class="caption ">
                <div style="height: 50%; width: 100%"></div>
                <div style="height: 50%; width: 100%">Zawór. 2 </div> 
              </div>
              <div class="indicator label"> {{valve_2}} </div>
            </div>
          </div>
          <div class="wrapper" style="height: 40%;width: 100%;">
            <div style="width: calc(50% - 5px); height: 100%; float: left;margin-right: 10px;">
                <div class="caption ">
                  <div style="height: 50%; width: 100%"></div>
                  <div style="height: 50%; width: 100%">Zawór. 3</div> 
                </div>
                <div class="indicator label"> {{valve_3}} </div>
              </div>
              <div style="width: calc(50% - 5px); height: 100%; float: left;">
                <div class="caption ">
                  <div style="height: 50%; width: 100%"></div>
                  <div style="height: 50%; width: 100%">Zawór. 4</div> 
                </div>
                <div class="indicator label"> {{valve_4}} </div>
              </div>
          </div>
          <!-- <div style="height: 20%; width: 100%">
            <div style="height: 30%; width: 100%"></div>
            <button type="button" class="btn btn-warning" (click) =" changeControllersParametersSubmit($event)">Zmień</button>
          </div> -->
          
      </div>
  </div>
</div>
