.plotPanel {
    border: 1px solid #cacaca;
    border-radius: 2px;
    width: 100%; 
    height: 60%;
    padding: 10px;
}

.detailsPanel {
    width: 100%;
    height: calc(40% - 5px);
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #cacaca;
    border-radius: 2px;
}

