/* You can add global styles to this file, and also import other style files */
.titleHeader {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 150%; */
    border-bottom: 1px solid #CACACA;
    color: #555555;
    width: 100%;
    height: 35px;
}

.titleHeader > h2 {
    font-size: 120%;
}

