a > h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}

.navPanel {
    width: 50px;
    height: 100%;
    float: left;
    background-color: #222222;
}

.rootPanel {
    width: calc(100% - 10px);
    height: calc(100% - 86px);
    background-color: #F0F0F0;
    margin: 5px;
    left: 0;
    top: 76;
    /* overflow: auto; */
    position: fixed;
}

.mainPanel {
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
    /* padding: 10px; */
}

.dataPanel {
    width: calc(100% - 10px - 270px);
    height: 100%;
    float: left;
    background-color: #fafafa;
    margin-right: 5px;
    margin-left: 5px;
    /* border: 1px solid #cacaca;
    border-radius: 2px; */
    
}

.messagePanel {
    width: 270px;
    height: 100%;
    float: left;
    padding: 10px; 
    background-color: #fafafa;
    border: 1px solid #cacaca;
    border-radius: 2px;
}
.navIcon {
    /* align-self: auto; */
    margin: 10px 5px 10px 5px;
    padding: 2px;
}

li > a {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}